<a href="https://colab.research.google.com/github/jaypatil848/Assignment_1/blob/main/assignment_Q7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("/content/Q7.csv")

In [5]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [6]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [7]:
df.mode(numeric_only=True)

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [8]:
df.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [10]:
print("range is",df.Points.max()-df.Points.min())

range is 2.17

In [11]:
print("range is",df.Weigh.max()-df.Weigh.min())

range is 8.399999999999999

In [12]:
print("range is",df.Score.max()-df.Score.min())

range is 3.9110000000000005